@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./vendor/_reset.css");

.nav-logo-width {
  width: max(250px, 30%);
}

.container-screen {
  max-width: min(100%, 1216px);
  margin-left: max(20px, (100vw - 1216px) / 2);
  margin-right: max(20px, (100vw - 1216px) / 2);
}
